*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    background-color: #2D9596;
    justify-content: space-between;
    padding: 0 50px;
    align-items: center;
}
#logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 5px 10px;
    transition: 0.5s;
    text-transform: uppercase;
}
nav ul li a:hover,nav ul li a.home{
    background-color: #BBAB8C;
}
#click{
    display: none;
}
.menu_btn{
    color: white;
    cursor: pointer;
    display: none;
}
/* Responsive nav bar  */
/* @media only screen and (max-width: 900px){
    nav ul{
        position: fixed;
        top: 5px;
        padding-top: 20px;
        left: px;
        background-color: red;
        flex-direction: column;
        text-align: center;
        height: 100vh;
        width: 100%;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        font-size: 30px;
    }
    nav ul li a:hover , nav ul li a.home{
        background: none;
        color: black;
    }
    .menue_bth{
        display: block;
    }
} */
/* he4ader section start  */
header{
    background-image: url(picture/StockSnap_MHYHANF1PP.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/* main first section  */
#section_one h3{
    text-align: center;
    padding: 20px 0;
    letter-spacing: 1em;
    font-size: 30px;
    font-weight: bold;

}

#section_one{
    background-color: #994D1C;
    padding-bottom: 100px;
}
.container{
    width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
}
.box_one{
    background-color: white;
    text-align: center;
    padding: 20px 10px;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 3px 2px 3px gray;
}
.box_one i{
    font-size: 30px;
    margin-bottom: 10px;
}
.box_one h2{
    margin: 10px 0;
    font-weight: bold;
}
/* section one responsive  */
@media only screen and (max-width:688px){
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 10px;
        width: 100%;
    }
}
@media only screen and (min-width: 689px) and (max-width: 1099px ) {
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
        width: 100%;
}
}